* {
    margin: 0%;
    padding: 0%;
}

.SiteName {
    color: blue;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-right: 10%;
    margin-bottom: 15%;
}

.nav {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 5%
}