* {
  margin: 0%;
  padding: 0%;
}

.SiteName {
  width: 15rem;
  height: 2.313rem;
  color: #0290ff;
  font-family: 'Monserrat-Bold', Arial, Helvetica, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0.375rem 2.938rem 0.125rem 6.25rem;
}

.nav {
  display: flex;
  padding: 5%;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  color: #4386bf;
}

.liBooks {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.liCategories {
  width: 6.563rem;
  height: 1rem;
  margin: 1.125rem 41.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

a {
  text-decoration: none;
}

.Container {
  margin-left: 6.25rem;
  display: flex;
  flex-direction: column;
  margin-right: 6.25rem;
}

.mediumCont {
  width: 75rem;
  height: 10.62rem;
  display: flex;
  align-items: center;
  margin-left: 6.25rem;
  margin-top: 2.313rem;
  margin-right: 6.25rem;
  justify-content: left;
  background-color: #e8e8e8;
}

.Book {
  display: flex;
  flex-direction: column;
  padding-left: 1.68rem;
  padding-top: 0.2rem;
}

.Categorie {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span.BookTitle {
  width: 12.313rem;
  height: 1.813rem;
  font-family: 'RobotoSlab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  color: #121212;
  margin: 0.5rem 0 0 0;
}

span.Author {
  color: #4386bf;
  margin: 2rem 0 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-family: 'RobotoSlab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.TitleFoot {
  display: flex;
  height: 1.188rem;
  gap: 5%;
  color: #4386bf;
  margin-top: 0.188rem;
  margin-left: 1.68rem;
  font-family: 'RobotoSlab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 0.875rem;
  font-weight: 300;
}

.Comments {
  width: 4.563rem;
  margin-right: 0.188rem;
}

.Remove {
  width: 3.375rem;
  margin-right: 0.188rem;
  border: none;
  background-color: transparent;
  color: #4386bf;
  font-family: 'RobotoSlab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 0.875rem;
  font-weight: 300;
}

h2.AddNewBook {
  width: 10.875rem;
  height: 1.5rem;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.Chapter {
  display: flex;
  flex-direction: column;
  width: 8.938rem;
  margin-top: 2.063rem;
  margin-bottom: 2.688rem;
  margin-left: 9.563rem;
  text-align: left;
  font-weight: 300;
  font-family: 'RobotoSlab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Current {
  height: 1.125rem;
  width: 7.875rem;
  font-size: 0.813rem;
  color: #121212;
}

.chapterName {
  font-size: 1rem;
  color: #121212;
}

.Update {
  border: none;
  background-color: #0290ff;
  padding: 0.5rem 0.43rem;
  border-radius: 3px;
  color: #ffff;
  font-size: 0.813rem;
  margin-top: 1.438rem;
  text-align: center;
}

div.AddNewBook {
  width: 75rem;
  height: 2.813rem;
  margin-left: 6.25rem;
  margin-top: 7.125rem;
  margin-bottom: 16.563rem;
}

input#BookTitle {
  width: 41.5rem;
  height: max-content;
  margin-right: 2.125rem;
}

input.Author {
  width: 17.813rem;
  margin-right: 2.125rem;
}

.AddButton {
  display: inline-flex;
  border: none;
  color: #fff;
  font-size: 0.813rem;
  padding: 0.5rem 3.43rem;
  background-color: #0290ff;
}

.progress {
  display: flex;
  align-items: center;
}

.spinner {
  height: 150%;
  width: 150%;
  color: #0290ff;
}

.icon {
  font-size: 3.31rem;
  margin-left: 20.438rem;
  margin-right: 0%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.percentage {
  color: #888;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
